.body{
 background:#aaaaaa;
    font-family:Nexus Sans;
/*    padding:10px;*/
}
#wrapleft{
    display:inline-block;
    float:left;
    width:1%;
}
#wrapright{
    float:right;
    width:1%;
}
#wrap{
    background:#ffffff;
/*    width:98%;*/
    max-width:960px;
    min-width:600px;
    margin:auto;
    vertical-align:middle;
/*    position:relative;*/
}


.outerheadstrip{   
    border:12.5px solid #003366;/*#424870;*/
}
.innerheadstrip{
    box-sizing:border-box;
    width:100%;
    min-width:600px;
    margin:auto;
    background-color:#000;/*:#424870;*/
    color:#fff;
    border:12.5px solid #99cc00;/*#424870;*/
    position: relative;
    z-index:10;
    padding: 10px;
    display: inline-block;
    vertical-align:middle;
}


.block{
    box-sizing:border-box;
    padding:25px;
    width:100%;
    min-width:600px;
    margin:auto;
    border: 25px
		solid;
    display: inline-block;
}
#schedule{border:12.5px solid #fdda0d;}
#news{border:12.5px solid #d52b1e}
#material{border:12.5px solid #1e5151;}
#corona{border:12.5px solid black;}    
#bibliography{border:12.5px solid #660066;}
#exam{border:12.5px solid #ea890f;}
#faq{border:12.5px solid #00a0dd;}    
  /* * * * * * * * * * * * * * * */
 /*  set standard environments  */
/* * * * * * * * * * * * * * * */

/* HEADERS */

h1 {
    color: #fff;
    font-weight:normal;
    margin:0px;
    letter-spacing:8px;
}

h2 {
    color: #003366;
    font-weight:normal;
    margin:0px;
    letter-spacing:8px;
}

/* font classes */

font.video {
    background-color: #003366;
    padding:2pt;
    font-family:Courier;
    color:#ffffff;
}
/* table punkten */
/* table examinfo */
table.examinfo td:nth-child(n+1){
    vertical-align:top;
    padding:.7ex;
    text-align:left;
} 

table.examinfo td:nth-child(1){
    vertical-align:top;
    padding:.7ex;
    text-align:right;
}

/* table timetable */
table.timetable td:nth-child(n+1){
    vertical-align:top;
    padding:1ex;
    text-align:left;    
}

table.timetable td:nth-child(1){
    width:10%;
    color:#003366;
    vertical-align:top;
    padding:1ex;
    text-align:right;
}
/* table la */
table.la td{
    vertical-align:top;
    padding:1ex;
    text-align:left;
    
}
table.la th{
    width:16.5%;
    vertical-align:top;
    padding:2ex;
    background-color:#333333;
    color:#ffffff;
}

table.calendar td{
    vertical-align:top;
    padding:.3ex;
    text-align:center;
    background-color:#aaeeff;
    
}
table.calendar th{
    vertical-align:top;
    padding:1ex;
    background-color:#00a0dd;
    color:#ffffff;
}


table.newstable td:nth-child(1) {
    vertical-align:top;
    font-family:Courier;
    padding:1ex;
    color:#003366;
}
table.newstable td:nth-child(2) {
    vertical-align:top;
    padding:1ex;
}

/* table ca */

.ca{
    width:100%
}

table.ca td{
    vertical-align:middle;
    padding:1ex;
    text-align:center;
    font-size:100%;
}

#materiallink{
    width:20%;
   background-color:#9adede;
   vertical-align:middle;
   padding:1ex;
   text-align:center;
   font-size:100%;
}


table.ca th{

    vertical-align:middle;
    padding:2ex;
    background-color:#1e5151;
    color:#ffffff;
    font-weight:normal;
}

.videodiv{
    margin:auto;
    width:75%;
    height: 100%;
    border: 5px solid #1e5151;
}

.first-half {
    float: left;
    width: 50%;
}
.second-half {
    float: right;
    width: 50%;
}

/* table timetable */

.tplan{
    width:100%;

}

table.tplan td{
    vertical-align:middle;
    padding:1ex;
    text-align:center;
    font-size:100%;
}

#VL{
    width:18%;
    background-color:#003366;
    color:white;
    vertical-align:middle;
    padding:1ex;
    text-align:center;
    font-size:100%;
}

#ZU{
    width:18%;    
    background-color:#99cc00;
    color:#003366;
   vertical-align:middle;
   padding:1ex;
   text-align:center;
   font-size:100%;
}


#TUT{
    width:18%;
    background-color:#d52b1e;
    color:white;
   vertical-align:middle;
   padding:1ex;
   text-align:center;
   font-size:100%;
}

#SS{
    width:18%;
    height:20px;
    background-color:grey;
    color:white;
    vertical-align:middle;
    padding:0ex;
    text-align:center;
    font-size:100%;
}



table.tplan th{
    vertical-align:middle;
    padding:2ex;
    background-color:#fdda0e;
    color:#003366;
    letter-spacing:1px;
    font-weight:normal;
}


/* links */
a {
    text-decoration:none;
}

a:link{
    color:#003366;/*#ee8800*/
}
a:visited{
    color:#808080;/*#33aa66;*/
}
a:hover{
    color:#d52b1e;/*#ee8800*/
}
a:active{
    color:#fa5d4f;
}

#neon-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background: #031628; 
}

.btn {
  border: 0;
  background-color: transparent;
  padding: 5px 10px;
  font-weight: 300;
  color: #fff;
}


.btn:hover {
  color: black;
  border: 0;
}



.one:hover {
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(255,255,255,1);
  box-shadow: 10px 10px 99px 6pxrgba(255,255,255,1); 
}

.two:hover {
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(255,255,255,1);
  box-shadow: 10px 10px 99px 6pxrgba(255,255,255,1); 
}
.three:hover {
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(255,255,255,1);
  box-shadow: 10px 10px 99px 6pxrgba(255,255,255,1); 
}
/*#b9e769;
rgba(185, 231, 105, 1);*/
.one::before {
    content:"Prof. Alexandru Constantinescu";
}
.one:hover:before {
  content:"aconstant@math.fu-berlin.de";
}

.two::before {
    content:"Johanna Plock";
}
.two:hover:before {
  content:"johap02@zedat.fu-berlin.de";
}

.three::before {
    content:"Federico Ugolini";
}
.three:hover:before {
    content:"federico.ugolini@fu-berlin.de";
}
